.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 8vh;
    display: flex;
    transform: translateY(-100px);
    transition: all 0.7s ease;
    z-index: 100;
}
.contenedor-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.nav.active{
    background: #1F2023;
    transform: translateY(0);
}

.logo-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo-menu img{
    width: 45px;
    height: 45px;
}
.logo-menu a{
    text-decoration: none;
    padding-left: 15px;
}
.logo-menu p{
    letter-spacing: 2px;
    font-size: 17px;
    color: var(--white);
}

.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 20px;
}
.menu li a{
    padding: 10px 0px;
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    transition: 0.5s;
}
.menu li a:hover{
    text-decoration: underline;
    color: var(--purple);
}
.menu li a span{
    display: none;
}
.menu li a img{
    transition: 0.5s;
    width: 42px;
}
.menu li a i{
    font-size: 24px;
    transition: 0.5s;
}
.menu li a i:hover, .menu li a img:hover{
    transform: translateY(-3px);
    color: var(--purple);
}

#hamburguer{
    color: var(--white);
    font-size: 22px;
    margin-right: 25px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}